/*!
 *
 * JSON Lander CSS 0.1
 * Copyright © Mi-Home.pl
 * Date: 2021-04-21
 *
 */

// Key colors
$orange_dark: #f25707;
$orange:      #ff6900;
$orange_2:    #ff8e00;
$orange_3:    #fc9f18;

// Greys
$grey_1: #424242;
$grey_2: #757575;
$grey_3: #b0b0b0;
$grey_4: #e7e7e7;
$grey_5: #c0c7d3;

$dark:   #212121;

//Contrasting colors
$green:   #83c44e;
$red:     #ff002b;
$yellow:  #ffac13;
$blue:    #2196f3;

// Breakpoints
$laptop:   1024px;
$tablet:   768px;
$tabletS:  640px;
$mobile:   425px;
$mobileM:  375px;

// Widths
$main_width: 1164px;

// Fonts
// .txt__thin { font-weight: 100 }
// @font-face {
//   font-family: 'CamphorPro'; src: url('fonts/CamphorPro-Thin.woff2') format('woff');
//   font-weight: 100
// }
.txt__light { font-weight: 300 }
@font-face {
  font-family: 'CamphorPro'; src: url('fonts/CamphorPro-Light.woff2') format('woff');
  font-weight: 300
}
.txt__regular { font-weight: 400 }
@font-face {
  font-family: 'CamphorPro'; src: url('fonts/CamphorPro-Regular.woff2') format('woff');
  font-weight: 400;
}
.txt__medium { font-weight: 600 }
@font-face {
  font-family: 'CamphorPro'; src: url('fonts/CamphorPro-Medium.woff2') format('woff');
  font-weight: 600
}
.txt__bold, strong { font-weight: 700 }
@font-face {
  font-family: 'CamphorPro'; src: url('fonts/CamphorPro-Bold.woff2') format('woff');
  font-weight: 700
}
.txt__heavy { font-weight: 900 }
@font-face {
  font-family: 'CamphorPro'; src: url('fonts/CamphorPro-Heavy.woff2') format('woff');
  font-weight: 900
}


/* ===============
   GENERAL STYLING
   =============== */

* {
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
html, body {
  margin: 0;
  padding: 0;

  // -webkit-text-size-adjust: 100%;
  // -ms-text-size-adjust: 100%;
  // font-size-adjust: 100%;
}

body {
  width: 100%;
  background: #f5f5f5;
  color: $grey_1;

  font-family: 'CamphorPro', Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

/* ==========
* GLOBAL
*/

h1 {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 1.25;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
}

h3 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.3;
}

h4 {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.3;
}

h1, h2, h3, h4 {
margin-top: .6em;
margin-bottom: .6em;
}

p {
  color: $grey_2;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 1em;
  margin-bottom: 1em;
}


ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: $orange;
  text-decoration: none
}
a:hover {
  color: $orange_dark;
  text-decoration: underline;
}

hr {
  margin: 30px 0;
  border-top: 0;
  border-bottom: 1px solid $grey_4;
}

img {
  display: block;
  width: 100%;
}

iframe { border: 0 }



/* Text classes */
.__left   { text-align: left }
.__center { text-align: center }
.__right  { text-align: right }
.__crossed { text-decoration: line-through }



// /* ==========
// * DARK MODE - WIP
// */
//
// @media (prefers-color-scheme: dark) {
//   body {
//     color: ;
//     background: $dark;
//   }
//   section .content__items .section--item {
//     background: $dark !important;
//   }
// }



/* ===============
   HEADER
   =============== */

header {

  display: flex;
  flex-flow: column;
  width: 100%;
  height: 400px;
  background: #ffb400 url('img/header-pc.jpg') center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: 720px) {
    background: url('img/header-m.jpg') center !important;
  }

  padding: 0 15px;

  h1 { font-weight: 900 }
  h2 { font-weight: 700 }
  h3 { font-weight: 400 }
  text-align: left;

  > div {
    width: 100%;
    max-width: $main_width;
    margin: 0 auto;
  }

  #header--content {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    height: 100%;

    margin-top: -85px;
    @media screen and (max-width: $tablet) {
      margin-top: -52px
    }

  }

}

#header--links {

  padding: 20px 0 10px;
  @media screen and (max-width: $tablet) {
    padding-top: 15px
  }

  display: flex;
  justify-content: space-between;

  a.header--logo {
    display: block;
    width: 55px;
    height: 55px;
    background-size: cover;
    background-repeat: no-repeat;
    &.logo__orange { background-image: url('img/logo-orange.png') }
    &.logo__white  { background-image: url('img/logo-white.png') }
    @media screen and (max-width: $tablet) {
      width: 27px;
      height: 27px;
    }
  }
  a.header--back_to_store {
    color: #fff;
  }

}

#header--content {

  /* Default styling */
  color: #fff;
  text-shadow:
    0 3px 5px #FF9600,
    0 5px 15px #FF9600;

  h1 {
    text-transform: uppercase;
  }
  h1, h2, h3, h4 {
    text-shadow:
      0 1px 0 #FFD90D,
      0 3px 5px #FF9600,
      0 3px 15px #FF9600;
    margin-top: .2em;
    margin-bottom: .2em;
  }
  p {
    color: #fff;
  }

}



/* ==========
* PAGE NAVIGATION
*/

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;

  // background: #fff;

  text-align: center;
  text-transform: uppercase;

  .nav--wrapper {
    margin: 0 auto;
    max-width: $main_width;
  }

  .nav--items {
    display: flex;

    &.col__2 > li {
      width: 50%;
    }
    &.col__3 > li  {
      width: calc(100% / 3);
    }
    &.col__4 > li {
      width: 25%;
    }

    li {
      margin: 0;

      font-size: 18px;
      font-weight: 600;
      a {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 64px;
        padding: 0 5px;

        color: $grey_1;

        transition: all 200ms linear;
        &:hover {
          text-decoration: none;
          background: rgba(255,255,255,.6);
        }
      }
      @media screen and (max-width: $tablet) {
        font-size: 13px;
        a {
          height: 54px;
        }
      }
    }
  }

  &.__sticky {
    background: #fff;
    box-shadow: 0 0px 8px 0 rgba(0,0,0,.1);
  }
}



/* ===============
   CONTENT
   =============== */

#content {
  padding: 0 15px;

  @media screen and (max-width: $tablet) {
    padding: 0 1%;
  }
}

/* ==========
* SECTIONS
*/

section {
  width: 100%;
  max-width: $main_width;
  margin: 0 auto;

  .section--header {
    margin-top: 1em;
    text-align: center;
    padding: 1em 10px 1.5em;
    h2 {
      @media screen and (max-width: $tablet) {
        font-size: 1.6rem
      }
    }
    h2, p {
      margin-top: .3em;
      margin-bottom: 0;
    }
    // p[data-aos] {
    //     transition-delay: .15s;
    // }
  }
  .section--content { }

  /* Image Section */
  .content__img { }

  /* Embed iframes */
  .content__embed_iframe {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    @media screen and (max-width: $tablet) {
      width: 102%;
      margin-left: -1%;
    }
  }

}



/* ==========
* ITEMS
*/

.content__items {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;

  /* ==========
  * SINGLE ITEM
  */
  .section--item {
    width: 49.5%;
    margin-bottom: 1%;

    background: #fff;

    /* ===== ITEM HEAD */
    .item--head {
      position: relative;
      background: #e8eaee;
    }
    /* Item Image */
    .item--img {
      display: block;
      margin: 0 auto;
      width: 90%;
      max-width: 404px;

      transition: transform 200ms linear;
      &:hover {
        transform: scale(.95);
      }
    }
    /* Item Label */
    .item--label {
      max-width: 90%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      border-bottom-right-radius: 18px;

      color: #fff;
      background: $grey_5;

      padding: 10px 30px;
      font-size: 18px;
      font-weight: 700;
      line-height: 1;

      @media screen and (max-width: $tabletS) {
        padding: 10px 15px;
        font-size: 14px;
        font-weight: 600;
      }
    }

    /* Item Benefits */
    .item--benefits {
      display: flex;
      flex-flow: row wrap;
      position: absolute;
      bottom: 0;
      right: 0;
      min-width: 40px;
      height: 60px;
      border-top-left-radius: 22px;
      padding: 10px 10px 8px 15px;

      color: #fff;
      background: linear-gradient(90deg,#f2952b,#f6cc61);

      > div {
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        position: relative;

        height: calc(60px - 10px - 8px);

        &:nth-of-type(2) {
          margin-left: 10px;
          border-left: 1px solid rgba(255,255,255,.8);
        }
      }

      &:before {
        position: absolute;
        left: -14px;
        bottom: 0;
        display: block;
        content: "";
        width: 0;
        height: 0;
        border-width: 23.5px 8px;
        border-style: solid;
        border-color: #f2952b;
        border-top-color: transparent;
        border-left-color: transparent;
      }

      .benefit--title {
        display: block;
        font-size: 12px;
      }

      /* Benefit: Discount */
      .item--discount {
        text-align: right;
        strong {
          margin-top: 3px;
          margin-bottom: -2px;
          font-size: 24px;
          line-height: 1.1;
          small {
            font-size: 16px
          }
        }
      }
      /* Benefit: Gift */
      .item--gift {
        padding-left: 5px;
        text-align: center;
        img {
          margin: 0 auto;
          max-width: 72px !important;
        }
      }

      @media screen and (max-width: $tabletS) {
        height: 48px;
        padding: 5px 5px 5px 10px;

        > div {
          height: calc(48px - 5px - 5px);
        }

        &:before {
          left: -8px;
          border-width: 17.5px 5px;
        }

        .benefit--title {
          font-size: 11px;
          font-weight: 300;
        }

        .item--discount {
          strong {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 21px;
            line-height: 1
          }
        }
        .item--gift {
          img {
            max-width: 48px !important;
            margin-bottom: 3px;
          }
        }
      }

    }

    /* ===== ITEM INFO */
    .item--info {
      padding: 20px;
      @media screen and (max-width: $mobile) {
        padding: 15px 12px !important
      }

      .item--name {
        margin-top: 0;
        font-size: 21px;
        font-weight: 600;

        .item--category {
          display: block;
          margin-bottom: 5px;
          font-size: 14px;
          font-weight: 300;
          color: $grey_3
        }
      }

      .item--desc {
        p {
          margin-top: 0;
          margin-bottom: .5em;
          font-weight: 300;

          @media screen and (max-width: $mobile) {
            font-size: 13px;
          }
        }
        margin-bottom: 1em;
        // Additional text
        .item--text {}
      }

    }

    /* ===== ITEM FOOTER */
    .item--footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .item--price {
        margin-right: 5px;
        color: $orange_2;
        font-size: 29px;
        font-weight: 700;
        line-height: .8;
        small,
        .__crossed {
          font-size: 16px;
        }
        .__crossed {
          color: $grey_3;
          font-weight: 400;
          white-space: nowrap;
        }

        @media screen and (max-width: $tablet) {
          font-size: 24px;
          small,
          .__crossed {
            font-size: 14px;
          }
        }
      }

      .item--btn {
        display: inline-block;
        border-radius: 24px;
        color: #fff;
        background: $orange_3;
        padding: 10px 25px;

        text-align: center;
        font-size: 16px;
        font-weight: 600;
        line-height: 1;
        white-space: nowrap;

        transition: all .2s linear;
        &:hover {
          text-decoration: none;
          box-shadow: 0 5px 15px rgba(0,0,0,.15);
          background: $orange_2;
        }

        @media screen and (max-width: $tabletS) {
          max-width: 148px;
          width: 100%;
          margin-top: 1em;
          padding: 10px 5px;
          // font-size: 14px;
          align-self: center;
        }
      }

      @media screen and (max-width: $tabletS) {
        flex-flow: column;
        align-items: flex-start;
      }

    }

    /* Sold Out */
    &.item__sold_out {
      .item--btn {
        color: $grey_3;
        background:  $grey_4;
        &:hover {
          box-shadow: 0 5px 5px rgba(0,0,0,.05);
          background:  #e0e0e0;
        }
      }
    }
    /* Soon */
    &.item__soon {
      .item--btn {
        background: $green;
        &:hover {
          background: #79b647;
        }
      }
    }

    /* ==========
    * CUSTOM ITEM
    */
    &.item__custom {
      padding: 20px;
    }

  } // end Single Item

  /* ==========
  * FEATURED ITEM
  */
  &.__featured .section--item {
    width: 100%;
    display: flex;
    align-items: center;

    .item--head {
      width: 65.15%;
    }
    .item--info {
      width: 39.85%;
    }
    @media screen and (max-width: $tablet - 1px) {
      flex-flow: wrap;
      .item--head,
      .item--info {
        width: 100%;
      }
      .item--head img {
        width: auto;
        max-width: 90%;
        max-height: 302px
      }
    }
    @media screen and (max-width: $tabletS) {
      .item--footer {
        flex-flow: row nowrap;
        align-items: center;
        .item--btn {
          margin-top: 0;
        }
      }
    }
    @media screen and (max-width: $mobileM) {
      .item--footer {
        flex-flow: column;
        align-items: flex-start;
        .item--btn {
          margin-top: 10px;
          align-self: center;
        }
      }
    }
  }

  /* ==========
  * SMALL ITEM
  */
  &.__small .section--item {
    width: 24.5%;

    .item--head {
      .item--label {
        padding: 10px 15px;
      }
    }
    .item--info {
      .item--name {
        font-size: 18px;
      }
    }

    @media screen and (max-width: $main_width + 2*15px) {
      text-align: center;

      .item--info {
        padding: 20px 10px;
      }
      .item--footer {
        flex-flow: column;
        align-items: center;

        .item--btn {
          margin-top: 10px;
        }
      }
    }

    @media (max-width: $tablet) {
      width: 49.5%;
    }

    .item--desc p:first-of-type {
      display: none
    }
  }

  // /* Item animations delay */
  // .section--item[data-aos] {
  //     transition-delay: 0;
  // }
  // .section--item[data-aos]:nth-of-type(2n) {
  //     transition-delay: .15s;
  // }
  //
  // &.__small .section--item[data-aos]:nth-of-type(n+3) {
  //     transition-delay: .30s;
  // }
  // &.__small .section--item[data-aos]:nth-of-type(n+4) {
  //     transition-delay: .45s;
  // }

} // end Items



/* ==========
* Disclaimer - The Last Stand :)
*/

#page_disclaimer {
  padding-top: 100px;
  text-align: center;
  .section--content p {
    font-size: 12px;
    color: $grey_3;
  }
}


/* ===============
   FOOTER
   =============== */

footer {
  margin: 50px auto;
  padding: 0 15px;
  text-align: center;
}



/* ===============
   SIDE BUTTONS
   =============== */

#side_btns {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 9999;
  a {
    display: block;
    margin-top: 10px;
    width: 54px;
    height: 54px;
    &.btn--top { background-image: url('img/btn-dflt-top.png') }
    &.btn--fb  { background-image: url('img/btn-dflt-fb.png') }
    &.btn--ig  { background-image: url('img/btn-dflt-ig.png') }
    background-size: cover;
    @media screen and (max-width: $tablet) {
      margin-top: 5px;
      width: 27px;
      height: 27px;
    }
  }
  a:hover { text-decoration: none }
  @media screen and (max-width: $tablet) {
    bottom: 10px;
    right: 10px;
  }
}



/* ===============
   EXTRA STYLES
   =============== */

.name--label {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: $grey_1;
  font-size: 10px;
  line-height: 15px;
  min-width: 0;
  margin-top: -4px;
  border-radius: 50px;
  border: 1px solid $grey_1;
  padding: 0 5px;
  font-family: Arial !important;
  font-weight: 600;
}

/* Mobile Images */
.img__mobile {
  display: none;
}
@media screen and (max-width: $tablet) {
  .img__mobile {
    display: block
  }
  .img__desktop {
    display: none
  }
}


/* ===============
   APPLICATION
   =============== */

/* No Script */
noscript {
  text-align: center;
  font-weight: 400;
  color: $grey_3;

  // /* Font Awesome */
  // &:before {
  //   display: block;
  //   width: 90%;
  //   margin: 0 auto 12px;
  //
  //   color: $grey_3;
  //   text-align: center;
  //   font-family: "Font Awesome 6 Pro";
  //   font-size: 54px;
  //   font-weight: 300;
  //   content: "\f5a4";
  // }
  // div { padding: 0 15px }

  /* Image Background */
  div {
    padding: 0 30px;
    span {
      display: block;
      margin: 0 auto 21px;
      width: 55px;
      height: 55px;
      background: url('img/logo-orange.png') top center no-repeat;
      background-size: 55px auto;
      opacity: .3;
      filter: grayscale(100%);
    }
  }
}

/* Notifications */
.app_error {
  margin: 0 auto;
  padding: 60px 30px;
  text-align: center;
  font-weight: 600
}

/* Loading animation */
#page_loader {
  margin: 100px auto 0;
  width: 100px ;
  text-align: center;
  > div {
    width: 18px;
    height: 18px;
    background-color: $grey_5;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  .bounce2 {
    margin: 0 5px ;
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
