/*!
 *
 * JSON Lander CSS 0.1
 * Copyright © Mi-Home.pl
 * Date: 2021-04-21
 *
 */

// Key colors
$orange:      #ff6900;
$orange_dark: #f25707;

// Greys
$grey_1: #424242;
$grey_2: #666666;
$grey_3: #757575;
$grey_4: #b0b0b0;
$grey_5: #cacaca;
$grey_6: #e0e0e0;
$grey_7: #e7e7e7;

$dark:  #212121;

//Contrasting colors
$green:   #83c44e;
$red:     #ff002b;
$yellow:  #ffac13;
$blue:    #2196f3;

// Breakpoints
$laptop:  1024px;
$tablet:  768px;
$mobile:  425px;

// Widths
$main_width: 1164px;

// Fonts
@font-face {
  font-family: 'CamphorPro'; src: url('//mi-home.pl/themes/mi/fonts/camphor_pro/CamphorPro-Thin.woff') format('woff');
  font-weight: 100
}
.txt__thin { font-weight: 100 }
@font-face {
  font-family: 'CamphorPro'; src: url('//mi-home.pl/themes/mi/fonts/camphor_pro/CamphorPro-Light.woff') format('woff');
  font-weight: 300
}
.txt__light { font-weight: 300 }
@font-face {
  font-family: 'CamphorPro'; src: url('//mi-home.pl/themes/mi/fonts/camphor_pro/CamphorPro-Regular.woff') format('woff');
  font-weight: 400;
}
.txt__regular { font-weight: 400 }
@font-face {
  font-family: 'CamphorPro'; src: url('//mi-home.pl/themes/mi/fonts/camphor_pro/CamphorPro-Medium.woff') format('woff');
  font-weight: 600
}
.txt__medium, strong { font-weight: 600 }
@font-face {
  font-family: 'CamphorPro'; src: url('//mi-home.pl/themes/mi/fonts/camphor_pro/CamphorPro-Bold.woff') format('woff');
  font-weight: 700
}
.txt__bold { font-weight: 700 }
@font-face {
  font-family: 'CamphorPro'; src: url('//mi-home.pl/themes/mi/fonts/camphor_pro/CamphorPro-Heavy.woff') format('woff');
  font-weight: 900
}
.txt__heavy { font-weight: 900 }


/* ===============
   GENERAL STYLING
   =============== */

* {
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
html, body {
  margin: 0;
  padding: 0;

  // -webkit-text-size-adjust: 100%;
  // -ms-text-size-adjust: 100%;
  // font-size-adjust: 100%;
}

body {
  width: 100%;
  background: #f5f5f5;
  color: $grey_1;

  font-family: 'CamphorPro', Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

/* ==========
* GLOBAL
*/

h1 {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 1.25;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
}

h3 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.3;
}

h4 {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.3;
}

h1, h2, h3, h4 {
margin-top: .6em;
margin-bottom: .6em;
}

p {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 1em;
  margin-bottom: 1em;
}


ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: $orange;
  text-decoration: none
}
a:hover {
  color: $orange_dark;
  text-decoration: underline;
}

img {
  width: 100%;
}

hr {
  margin: 30px 0;
  border-top: 0;
  border-bottom: 1px solid $grey_7;
}

.__crossed {
  text-decoration: line-through;
}



/* ==========
* DARK MODE
*/

@media (prefers-color-scheme: dark) {
  body {
    color: $grey_7;
    background: $dark;
  }
  section .content__items .section--item {
    background: $dark !important;
  }
}



/* ===============
   HEADER
   =============== */

header {

  display: flex;
  flex-flow: column;
  width: 100%;
  height: 400px;
  background: url('header-pc.jpg') center no-repeat;
  background-size: cover;

  padding: 0 15px;

  h1 { font-weight: 900 }
  h2 { font-weight: 700 }
  h3 { font-weight: 400 }
  text-align: left;

  > div {
    width: 100%;
    max-width: $main_width;
    margin: 0 auto;
  }

  #header--content {

    &.__left   { text-align: left; }
    &.__center { text-align: center; }
    &.__right  { text-align: right; }

    height: 100%;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    // TEST
    margin-top: -85px;
    @media screen and (max-width: $tablet) {
      margin-top: -52px
    }

  }

}

#header--links {

  padding: 20px 0 10px;
  @media screen and (max-width: $tablet) {
    padding-top: 15px
  }

  display: flex;
  justify-content: space-between;

  a.header--logo {
    display: block;
    width: 55px;
    height: 55px;
    background-size: cover;
    background-repeat: no-repeat;
    &.logo__orange { background-image: url('logo-orange.png') }
    &.logo__white  { background-image: url('logo-white.png') }
    @media screen and (max-width: $tablet) {
      width: 27px;
      height: 27px;
    }
  }
  a.header--back_to_store {
    color: white;
  }

}

#header--content {

  /* Default styling */
  color: white;
  text-shadow:
    0 3px 5px #FF9600,
    0 5px 15px #FF9600;

  h1 {
    text-transform: uppercase;
  }
  h1, h2, h3, h4 {
    text-shadow:
      0 1px 0 #FFD90D,
      0 3px 5px #FF9600,
      0 3px 15px #FF9600;
    margin-top: .2em;
    margin-bottom: .2em;
  }

  .content--wrapper {

  }

}



/* ==========
* PAGE NAVIGATION
*/

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;

  background: #fff;

  li {
    margin: 0;
    padding: 10px 0;
  }

  .col__2 > li {
    width: 50%;
  }
  .col__3 > li  {
    width: calc(100% / 3);
  }
  .col__4 > li {
    width: 25%;
  }

}



/* ===============
   CONTENT
   =============== */

#content {
  padding: 0 15px;

  @media screen and (max-width: $tablet) {
    padding: 0 1%;
  }
}

/* ==========
* SECTIONS
*/

section {
  width: 100%;
  max-width: $main_width;
  margin: 0 auto;

  .section--header {
    margin: 2em 0 1.5em;
    text-align: center;
    padding: 0 10px;

    h2 {
      @media screen and (max-width: $tablet) {
        font-size: 1.6rem
      }
    }
    h2, p {
      margin-top: .3em;
      margin-bottom: 0;
    }
  }

}

/* ==========
* ITEMS
*/

section .content__items {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;

  /* ==========
  * SINGLE ITEM
  */

  .section--item {
    width: 49.5%;
    margin: 0.5% 0;
    // border-radius: 4px;
    // border: 1px solid $grey_7;

    background: #fff;

    .item--head {
      background: #e3e5ea; // Alt: linear-gradient(130deg,#e3e5ea,#c0c7d3);
      img {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 404px;
      }
    }

    /* Item Benefits */

    /* Benefit: Discount */

    /* Benefit: Gift */

    .item--gift {

    }
    .item--gift img {
      max-width: 72px !important;
    }

  } /* end Item */

  /* ==========
  * FEATURED ITEM
  */

  &.__featured .section--item {
    width: 100%;
  }

  /* ==========
  * SMALL ITEM
  */
  &.__small .section--item {
    width: 24.5%;

    @media (max-width: $tablet) {
      width: 50%;
    }

  }

} /* end Items */



/* ==========
* Disclaimer - The Last Stand :)
*/

#page_disclaimer p {
  font-size: 12px;
  color: $grey_4;
}


/* ===============
   FOOTER
   =============== */

footer {
  margin: 50px auto;
  padding: 0 15px;
  text-align: center;
}



/* ===============
   SIDE BUTTONS
   =============== */

#side_btns {
  position: fixed;
  bottom: 15px;
  right: 15px;
  a {
    display: block;
    margin-top: 10px;
    width: 54px;
    height: 54px;
    &.btn--top { background-image: url('btn-dflt-top.png') }
    &.btn--fb  { background-image: url('btn-dflt-fb.png') }
    &.btn--ig  { background-image: url('btn-dflt-ig.png') }
    background-size: cover;
    @media screen and (max-width: $tablet) {
      margin-top: 5px;
      width: 27px;
      height: 27px;
    }
  }
  a:hover { text-decoration: none }
  @media screen and (max-width: $tablet) {
    bottom: 10px;
    right: 10px;
  }
}



/* ===============
   EXTRA STYLES
   =============== */

.name--label {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: $grey_1;
  font-size: 10px;
  line-height: 15px;
  min-width: 0;
  margin-top: -4px;
  border-radius: 50px;
  border: 1px solid $grey_1;
  padding: 0 5px;
  font-family: Arial !important;
  font-weight: 600;
}



/* Embed iframes */

iframe { border: 0 }

.content__embed_iframe {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }
}



/* WIP */

#page_loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #2c3e50;
  background: -moz-linear-gradient(left, #2c3e50 10%, rgba(44, 62, 80, 0) 42%);
  background: -webkit-linear-gradient(left, #2c3e50 10%, rgba(44, 62, 80, 0) 42%);
  background: -o-linear-gradient(left, #2c3e50 10%, rgba(44, 62, 80, 0) 42%);
  background: -ms-linear-gradient(left, #2c3e50 10%, rgba(44, 62, 80, 0) 42%);
  background: linear-gradient(to right, #2c3e50 10%, rgba(44, 62, 80, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);

  &:before {
    width: 50%;
    height: 50%;
    background: #2c3e50;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  &:after {
    background: #fafafa;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
